# Python virtual environments
.venv/
env/
venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local data files (ignore everything in data/ except raw/ and cleaned/)
data/*
!data/raw/
!data/cleaned/
